html {
    display: flex;
    justify-content: center;
}

body {
    font-family: "Roboto", "Arial";
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;

    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    margin: 10px;
}

.content {
    font-family: 'Roboto';
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0,0,0,0.87);
}

.content ~ .content {
    height: 90vh;
    margin-top: 200px;
}

.top {
    justify-content: flex-start;
}

.logo {
    margin-left: -40px;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    margin-bottom: 50px;
    border-radius: 200px;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.hero {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: -2px;
    line-height: 96px;
}

.description {
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 48px;
}

.contact {
    font-weight: 300;
    font-size: 20px;
}

.languages {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.languages .list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.language {
    background: rgba(0,0,0,0.01);
    border: 1px solid rgba(0,0,0,0.1);
    margin: 2px;
    padding: 18px;
    display: block;
    width: 15%;
    font-weight: 400;
    border-radius: 5px;

    color: rgba(0,0,0,0.87);
}

.section {
    padding: 10px;
}

.email {
    font-weight: 700;
    color: rgba(39, 129, 188, 1);
    text-decoration: underline;
}

.code_line {
    display: flex;
}

.hide {
    display: none;
}

.code_bg {
    background-color: rgba(0,0,0,0.1);
    padding: 0 10px;
}

#roles {
    margin-left: 15px;
    font-family: "Inconsolata";
    font-weight: 700;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.stars {
    margin-top: 10px;
    font-size: 20px;
    color: rgba(0,0,0,0.87);
}

.cursor {
    background-color: rgba(39, 129, 188, 1);
    width: 15px;
    height: inherit;
    display: inline-block;
    margin-left: 10px;

    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
